#include "dactyl_manuform_5x6.dtsi"

&kscan0 {
    col-gpios           // Col1-7 1.07 1.14 1.05 1.13 1.03 1.12 0.16 
        = <&gpio1 15  GPIO_ACTIVE_HIGH>
        , <&gpio1 13  GPIO_ACTIVE_HIGH>
        , <&gpio1 11  GPIO_ACTIVE_HIGH>
        , <&gpio0 10  GPIO_ACTIVE_HIGH>
        , <&gpio0 9   GPIO_ACTIVE_HIGH>
        , <&gpio0 31  GPIO_ACTIVE_HIGH>
        , <&gpio0 2   GPIO_ACTIVE_HIGH>
        , <&gpio0 29  GPIO_ACTIVE_HIGH>
        ;
};